In [1]:
def add(x,y):
    print(x+y)

In [2]:
add(5,5)

10

In [3]:
# sum:any number of argument 
def add(*args):
    print(sum(args))
add(5,5,6)

16

In [4]:
add(4,4,5,6)

19

In [6]:
# to get each argument?
def add(*args):
    print(args[0])
    print(args[1])
    print(args[2])
add(5,5,6)

5
5
6

In [7]:
# How to use args in loop?
def myfun(*args):
    for arg in args:
        if arg/100 > 7:
            print("high")
        elif arg/100 > 5:
            print('Medium')
        elif arg/100 > 0:
            print('low')
myfun(100,600,900)

low
Medium
high

In [18]:
I = []
def myfun(*args):
    for arg in args:
        if arg/100 > 7:
            flag= "high"
        elif arg/100 > 5:
            flag ='Medium'
        elif arg/100 > 0:
            flag = 'low'
        I.append(flag)
    return I

In [19]:
myfun(800,600,100)

['high', 'Medium', 'low']

In [20]:
# How to pass lists / tuples in function?
#*[100,600,900]
k = [100, 600, 900]
myfun(*k)

['high', 'Medium', 'low', 'low', 'Medium', 'high']

In [21]:
#using both fixed and dynamic no. of arguments?
def salary(base, *args):
    return base + sum(args)

In [22]:
salary(1000,200,300)

1500

In [23]:
salary(1000)

1000

In [24]:
salary()

TypeError: salary() missing 1 required positional argument: 'base'

In [30]:
def test(*args):
    if not args:
        print("Note : You have not passed any argument")
    else:
        print("You have passed " + str(len(args)) + " arguments")

test(1,5,8)

You have passed 3 arguments

In [31]:
#use *args in lambda function
add = lambda *args:sum(args)
add(1,2,3,3)

9

In [33]:
#Suppose you want to multiply all the values specified in arguments. reduce( ) function allows us to apply function (multiplication) on first two values and then iterate again on the result with the third value and keeps going on till the last argument.
from functools import reduce
def my_func(*args):
    return reduce((lambda x,y: x * y), args)

my_func(1, 2, 3, 4)

24

In [36]:
from functools import reduce 
def my_func(*args):
    return reduce((lambda x,y: x*y),args)
my_func(1,2,3,4)

24

In [39]:
#use *args in list comprehension
def even(*args):
    print([n for n in args if n%2 == 0])
even(1,2,3,4)

[2, 4]

In [40]:
#**kwargs creates dictionary whereas *args creates tuple.

def test2(**kwargs):
    print(kwargs)
    print(kwargs.keys())
    print(kwargs.values())
test2(a =1, b=3)

{'a': 1, 'b': 3}
dict_keys(['a', 'b'])
dict_values([1, 3])

In [41]:
#use both args and kwargs
def myfun(*args,**kwargs):
    return sum(args)+sum(kwargs.values())

myfun(1,2, a=1,b=3)

7

In [44]:
#use
def calc(flag='Yes',**i):
    if flag == 'Yes':
        return sum(i.values())
    else:
        print("flag is set no")
calc(x=17,y=20)

37

In [45]:
calc(flag='No', x=17, y=20)

flag is set no

In [46]:
calc(flag='Yes', x=17, y=20)

37

In [48]:
def salary(base =0,**kwargs):
    if 'rating' in kwargs and kwargs['rating'] == 'high':
        if 'hike' in kwargs:
            hike = kwargs['hike']
        else:
            hike = 0.1
        return round(base*(1+hike), 2)
    else:
        if 'hike' in kwargs:
            hike = kwargs['hike']
        else:
            hike = 0.05
        return round(base*(1+hike), 2)

In [49]:
salary(base=10000)

10500.0

In [50]:
salary(base=10000, rating='average')

10500.0

In [51]:
salary(base=10000, rating='high')

11000.0

In [52]:
salary(base=10000, rating='average', hike =0.07)

10700.0

In [53]:
salary(base=10000, rating='high', hike =0.12)

11200.0

In [54]:
# arguments in pandas
import pandas as pd 
df = pd.DataFrame({'x1':[11,30,17]})
df

   x1
0  11
1  30
2  17

In [56]:
def myfun(row, l_limit=0, u_limit=0):
    if l_limit <= row['x1'] <= u_limit:
        return 1
    elif row['x1'] > u_limit:
        return 2

df.apply(myfun, axis=1, l_limit=10, u_limit=20)
df.apply(myfun, axis=1, args=(10,20))

0    1
1    2
2    1
dtype: int64