In [2]:
#Simple, given a string of words, return the length of the shortest word(s).
def find_short(s):
    words = s.split(" ")
    words.sort(key = len)
    return len(words[0])
find_short('t bitcoin take over the world maybe who knows perhaps')

1

In [53]:
from collections import Counter
def d(s):
    #words = s.split(" ")
    words.sort(key = len)
    return len(words[0])
find_short('bitcoin take over the world maybe who knows perhaps take')

3

In [65]:
t=['bitcoin', 'take', 'over', 'the', 'world',]
#t = t.split(" ")
t.sort(key = len)
u = Counter(t)
u.most_common(3)

[('the', 1), ('take', 1), ('over', 1)]

In [92]:
import pandas as pd 
prod = ['redShirt', 'greenPants', 'redShirt', 'orangeShoes', 'blackPants', 'blackPants']
prod1 = pd.Series(prod).value_counts()
feature_product = prod1[prod1[prod1==prod1.values[0]]].index 
print(feature_product.sort_values().values[0])

orangeShoes

In [79]:
pairs = {}
for pro in prod:
    if pro in pairs:
        pairs[pro] += 1 
    else:
        pairs[pro] = 1 
        
print(sorted(pairs.items(), key = lambda kv_pair: kv_pair[1],reverse = True))

[('redShirt', 2), ('blackPants', 2), ('greenPants', 1), ('orangeShoes', 1)]

In [80]:
print(sorted(Counter(prod).items(),key=lambda x:x[1],reverse=True))

[('redShirt', 2), ('blackPants', 2), ('greenPants', 1), ('orangeShoes', 1)]

In [84]:
pairs = {}
for pro in prod:
    pairs[pro]=pairs.get(pro,0)+1
print(sorted(pairs.items(), key = lambda kv_pair: kv_pair[1],reverse = True))

[('redShirt', 2), ('blackPants', 2), ('greenPants', 1), ('orangeShoes', 1)]

In [95]:
class Person:
    def __init__(self,name,address,phonenumber,course):
        self.name = name
        self.address = address
        self.phonenumber = phonenumber
        self.course = course
    def getinfo(self):
        print(self.name,'\n',self.address,'\n',self.phonenumber,'\n',self.course)
Person1 = Person("Pursh","105",'456',"stats")
Person1.getinfo()

Pursh
 105
 456
 stats

In [102]:
#private(course) ad protectected (phone)
class Person:
    def __init__(self,name,address,phonenumber,course):
        self.name = name
        self.address = address
        self._phonenumber = phonenumber
        self.__course = course
    def getinfo(self):
        print(self.name,'\n',self.address,'\n',self.phonenumber,'\n',self.course)
Person1 = Person("Pursh","105",'456',"stats")
#Person1.getinfo()
print(Person1._phonenumber)
print(Person1.__course)

456

AttributeError: 'Person' object has no attribute '__course'

In [108]:
#protectected (phone)
class Person:
    def __init__(self,name,address,phonenumber,course):
        self.name = name
        self.address = address
        self._phonenumber = phonenumber
        self.__course = course
    def getinfo(self):
        print(self.name,'\n',self.address,'\n',self.phonenumber,'\n',self.course)
    def getc(self):
        print(self.__course)
Person1 = Person("Pursh","105",'456',"stats")
#Person1.getinfo()
print(Person1._phonenumber)
print(Person1.getc())

456
stats
None

In [109]:
dir(Person1)

['_Person__course',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_phonenumber',
 'address',
 'getc',
 'getinfo',
 'name']

In [111]:
print(Person1._Person__course)

stats

In [115]:
#create another class and inherit  Person1 class to another class 
# child class 
# get super class (inherit of class variable stackoverflow) super python 
# insted of creating class variable, create a global variable to not able to  inherit to child class
class Neighbour(Person):
    def __init__(self,home):
        self.home = home
        
        
n1 = Neighbour(1)

In [156]:

class Person:
    __name = "Pursh"
    def __init__(self,address,phonenumber,course):
        #self.name = name
        self.address = address
        self._pn = phonenumber
        self.__course = course
    def getinfo(self):
        print(self.name,'\n',self.address,'\n',self.phonenumber,'\n',self.course)
    def getc(self):
        print(self.__course)
Person1 = Person("105",456,"stats")
#Person1.getinfo()

In [157]:
class Neighbour(Person):
    def __init__(self,home):
        super().__init__("105",456,"stats")
        self.home = home
        
        
n1 = Neighbour(2)

In [160]:
Person1._Person__name

'Pursh'

In [161]:
Person1._pn

456

In [163]:
Person1._Person__course

'stats'

In [164]:
n1.name

AttributeError: 'Neighbour' object has no attribute 'name'

In [221]:
# create a dataframe with three col
import numpy as np 
import pandas as pd 

d =  np.array([[1,2,3],[2,3,4],[5,6,7],[5,6,7],[2,3,4],[7,5,4]])

In [223]:
dp= pd.DataFrame(d)

In [224]:
dp

   0  1  2
0  1  2  3
1  2  3  4
2  5  6  7
3  5  6  7
4  2  3  4
5  7  5  4

In [225]:
dp.corr()

          0         1        2
0  1.000000  0.860828  0.52974
1  0.860828  1.000000  0.88764
2  0.529740  0.887640  1.00000

In [234]:
import pandas as pd 
pd = pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/00477/Real%20estate%20valuation%20data%20set.xlsx")

In [235]:
pd

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0      1          2012.916667  ...     121.54024                        37.9
1      2          2012.916667  ...     121.53951                        42.2
2      3          2013.583333  ...     121.54391                        47.3
3      4          2013.500000  ...     121.54391                        54.8
4      5          2012.833333  ...     121.54245                        43.1
..   ...                  ...  ...           ...                         ...
409  410          2013.000000  ...     121.50381                        15.4
410  411          2012.666667  ...     121.54310                        50.0
411  412          2013.250000  ...     121.53986                        40.6
412  413          2013.000000  ...     121.54067                        52.5
413  414          2013.500000  ...     121.54310                        63.9

[414 rows x 8 columns]

In [237]:
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [239]:
pd.describe()

               No  ...  Y house price of unit area
count  414.000000  ...                  414.000000
mean   207.500000  ...                   37.980193
std    119.655756  ...                   13.606488
min      1.000000  ...                    7.600000
25%    104.250000  ...                   27.700000
50%    207.500000  ...                   38.450000
75%    310.750000  ...                   46.600000
max    414.000000  ...                  117.500000

[8 rows x 8 columns]

In [244]:
pd.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64